<h2>Sign Up Confirmation</h2>

<div class="row">
  <h3>Are you sure these values are correct?</h3>
  <p>Email: <%= @user.email %></p>
  <p>Name: <%= @user.name %></p>
  <%= button_to "Yes", {controller: "users", action: "create", user: params[:user].permit!}, class: 'btn btn-success' %>
  <%= link_to "No", new_user_path(@user), class: 'btn btn-default' %>
</div>