// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  border-radius: 5px;
  height: 40px;
  width: 100px;
  color: #3de1f7;
}
